:root{
    --ff1: 'Raleway', sans-serif;
    --ff2: 'Open Sans', sans-serif;
    --ff3: 'Cardo', serif;
    --brand: #e84545;
    --cl-dark: #2d3033;
    --cl-p: #6c7279;
    --bg-test: #53354a;
    --bg-ft1: #3a3e64;
    --bg-ft2: #313454;
    --over-red: rgba(232, 69, 69, 0.9);
    --over-ban: rgba(43, 46, 74, 0.95);
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.cta-btn a{
    line-height: 46px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ======================
    Common CSS Ends
====================== */


/* ======================
    Font CSS Starts
====================== */
.rale-reg{
    font-family: var(--ff1);
    font-weight: 400;
}
.rale-med{
    font-family: var(--ff1);
    font-weight: 500;
}
.rale-semi{
    font-family: var(--ff1);
    font-weight: 600;
}
.rale-bold{
    font-family: var(--ff1);
    font-weight: 700;
}
.rale-semi{
    font-family: var(--ff1);
    font-weight: 600;
}
.rale-bold{
    font-family: var(--ff1);
    font-weight: 700;
}

/* Open-sans */

.open-reg{
    font-family: var(--ff2);
    font-weight: 400;
}
.open-bold{
    font-family: var(--ff2);
    font-weight: 700;
}

/* Cardo */

.cardo{
    font-family: var(--ff3);
    font-weight: 400;
    font-style: italic;
}
/* ======================
    Font CSS Ends
====================== */

/* =========================
    Font Size CSS Starts
========================= */
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-22{
    font-size: 22px;
}
.fs-28{
    font-size: 28px;
}
.fs-36{
    font-size: 36px;
}
.fs-65{
    font-size: 65px;
}
/* =========================
    Font Size CSS Ends
========================= */

/* =========================
    Typography CSS Starts
========================= */
.text-up{
    text-transform: uppercase;
}
.text1-up::first-letter{
    text-transform: uppercase;
}
.text-cap{
    text-transform: capitalize;
}
.text-center{
    text-align: center;
}
/* =========================
    Typography CSS Ends
========================= */


/* =========================
    Color Picker Starts
========================= */
.bg-brand{
    background: var(--brand);
}
.brand{
    color: var(--brand);
}
.white{
    color: #ffffff
}
.dark{
    color: var(--cl-dark);
}
.detail{
    color: var(--cl-p);
}
/* =========================
    Color Picker Ends
========================= */


/* =========================
    Nav CSS Starts
========================= */
nav{
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
}
nav .navbar .logo{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
}
nav .navbar .logo img{
    width: 100%;
}
nav .navbar .nav-list{
    height: 100px;
    width: 600px;
}
nav .navbar .nav-list ul{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
nav .navbar .nav-list ul li a{
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
nav .navbar .nav-list ul li:hover a{
    color: var(--brand);
}
/* =========================
    Nav CSS Ends
========================= */


/* =========================
    Banner Starts
========================= */
#banner{
    height: 750px;
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}
#banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--over-ban);
    inset: 0;
    z-index: -1;
}
#banner .banner-text{
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .banner-text h1{
    padding: 0 45px;
    line-height: 71px;
}
#banner .banner-text p{
    padding: 0 110px;
    line-height: 33px;
    margin: 25px 0 70px 0;
}
#banner .banner-text a{
    padding: 0 52px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#banner .banner-text a:hover{
    padding: 0 52px;
    background: #fff;
    color: var(--brand);
}
/* =========================
    Banner Ends
========================= */


/* =========================
    Service Starts
========================= */
#service{
    width: 100%;
    height: 450px;
    padding: 120px 0;
}
#service .service-main{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#service .service-main article{
    width: 370px;
    height: 190px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#service .service-main article:hover{
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05);
}
#service .service-main article h5{
    margin: 34px 0 15px 0;
}
#service .service-main article p{
    line-height: 21px;
    padding: 0 25px;
}
/* =========================
    Service Ends
========================= */


/* =========================
    Gallery Starts
========================= */
#gallery{
    display: flex;
    flex-wrap: wrap;
}
#gallery figure{
    width: 25%;
    position: relative;
}
#gallery figure img{
    width: 100%;
	height: 100%;
}
#gallery figure figcaption{
    width: 100%;
    height: 100%;
    background: var(--over-red);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#gallery figure:hover figcaption{
    opacity: 1;
}
#gallery figure figcaption h6{
    margin-bottom: 10px;
}
/* =========================
    Gallery Ends
========================= */


/* =========================
    Team Starts
========================= */
#team{
    height: 570px;
    padding: 100px 0;
}
#team .members{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#team .members .member{
    height: 100%;
    width: 270px;
}
#team .members .member img{
    width: 100%;
}
#team .members .member p:first-of-type{
    margin: 25px 0 10px 0;
}
#team .members .member p:nth-of-type(3){
    line-height: 21px;
    margin: 24px 0;
    padding-right: 5px;
}
#team .members .member ul{
    display: flex;
}
#team .members .member ul li:nth-of-type(2){
    margin: 0 5px;
}
#team .members .member ul li a{
    padding: 10px 12px;
    color: #c6cacc;
    border: 1px solid #e8ecee;
    box-sizing: border-box;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#team .members .member ul li a:hover{
    background: #e84545;
}
/* =========================
    Team Ends
========================= */


/* =========================
    Feedback Starts
========================= */
#testimonials{
    height: 500px;
    display: flex;
}
#testimonials .photo{
    height: 100%;
    width: 50%;
}
#testimonials .photo img{
    width: 100%;
    height: 100%;
}
#testimonials .txt{
    height: 100%;
    width: 50%;
    padding: 110px 305px 0 85px;
    box-sizing: border-box;
}
#testimonials .txt p:first-of-type{
    line-height: 42px;
}
#testimonials .txt p:last-of-type{
    padding: 20px 0 60px 0;
}
#testimonials .txt ul{
    padding-left: 200px;
}
#testimonials .txt ul li i{
 opacity: 0.2;
}
#testimonials .txt ul li i:nth-of-type(2){
    opacity: 1;
}
/* =========================
    Feedback Ends
========================= */